@media (max-width: 1340px) {
    header {
        .rt-hamburger {
            display: block;
        }
    }

    .rt-header__content-left > .rt-nav{
            display: none;
    }

    .rt-header__content-right > .rt-input-search{
            display: none;
    }

    .readtale__bg-title {
        font-size: 10vw;
    }
    .readtale__text {
        top: 69%;
        left: 32vw
    }

}

@media (max-width: 1340px) {

    .readtale__text {
        position: inherit;
        left: 0vw;
        flex-direction: column;

        &-description {
            margin-top: 20px;
            text-align: center;
            font-size: $font-size-text;
            width: 100%;
            max-width: 500px;
            line-height: 2.5rem;
        }

        &-title {
            text-align: center;
            display: inline-block;
            font-size: 5rem;
            font-family: $poiret-one;
        }
    }

    .readtale__bg-title {
        text-align: center;
        height: auto;
        margin-bottom: 50px;
        width: auto;
        height: auto;
        width: 100%;
    }

    .readtale {
        width: 100%;
    }
}

@media (max-width: 1573px) {

    .rt-container-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1226px) {

    .rt-container-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px) {

    .rt-container-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1053px) {

    .rt-book__content-grade-btn {
        margin-bottom: 24px;
    }
}

@media (max-width: 915px) {
    
    .rt-container-cards {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 927px) {
    
    .rt-container-book-information {
        grid-template-columns: 1fr;
        
    }

    .rt-book {

        &__img {
            width: 100%;
        }

        &__content {
            margin-top: 40px;
        }

        &__content-grade-btn {
            margin-bottom: 0;
        }
    }
}