html {
    font-size: $font-size-default;
}

body {
    font-family: $inter;
    font-size: 1.5rem;
    color: $color-white;
    background-color: $color-black;
}

.readtale {
    display: flex;
    align-items: center;
    height: calc(100vh - 82px);

    &__content {
        position: relative;
    }

    &__bg-title {
        font-family: $montserrat;
        font-weight: $black;
        font-size: 8vw;
        color: $color-orange;
        width: 70vw;
        height: 32vw;
    }

    &__text {
        position: absolute;
        top: 54%;
        left: 26vw;

        display: flex;
        justify-content: start;
        align-items: center;

        &-description {
            font-family: Inter;
            font-weight: $regular;
            font-size: 1vw;
            color: $color-white;
            line-height: 1.7vw;

            width: 22vw;
            margin-left: 2vw;
            margin-top: 5px;
        }

        &-title {
            display: inline-block;
            font-size: 3.2vw;
            font-family: $poiret-one;
        }
    }
}

.rt-bg {
    position: absolute;
    top: 0;
    z-index: -100;
    
    width: 100vw;
    height: 100vh;
    
    background-image: url('../images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.rt-filter {
    grid-column: 1/6;
    display: flex;
    justify-content: end;
}