html {
    font-size: $size-default;
}

body {
    font-family: $inter;
    font-size: 1.7rem;

    color: $color-white;
    background-color: $color-black;
}

.rt-link {
    font-weight: $regular;
    color: $color-silver;
    font-size: $text;

    transition: color .2s;
    &:hover {
        color: #949494;
    } 
}