html {
    font-size: $font-size-default;
}

body {
    font-family: $inter;
    font-size: 1.5rem;
    color: $color-white;
    background-color: $color-black;
}

header {
    position: relative;
    z-index: 100;
}

.readtale {
    display: flex;
    align-items: center;
    height: calc(100vh - 82px);
    position: absolute;
    z-index: -1;

    &__content {
        position: relative;
    }

    &__bg-title {
        position: relative;
        font-family: $montserrat;
        font-weight: $black;
        font-size: 8vw;
        color: $color-orange;
        width: 70vw;
        height: 32vw;
    }

    &__text {
        position: absolute;
        top: 54%;
        left: 26vw;

        display: flex;
        justify-content: start;
        align-items: center;

        &-description {
            font-family: Inter;
            font-weight: $regular;
            font-size: 1vw;
            color: $color-white;
            line-height: 1.7vw;

            width: 22vw;
            margin-left: 2vw;
            margin-top: 5px;
        }

        &-title {
            display: inline-block;
            font-size: 3.2vw;
            font-family: $poiret-one;
        }
    }
}

.rt-bg {
    position: absolute;
    top: 0;
    z-index: -100;
    
    width: 100vw;
    height: 100vh;
    
    background-image: url('../images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.rt-filter {
    margin-top: 60px;
    display: flex;
    justify-content: end;
    margin-bottom: $spacing-default;
}

.rt-textarea {
    border-left: 1px solid #494949;
    padding: 15px 0px 0px 25px;
    
    textarea {
        border-radius: $radius-default;
        background-color: $input-color-bg;
        line-height: 25px;
        display: block;
        resize: vertical;
        width: 100%;
        min-height: 128px;
        padding: 14px 16px;
        overflow: hidden;
        font-size: $font-size-text;
        color: $input-color-text;

        transition: height .2s;
        &:focus {
            color: $color-white;
            border-color: #4e4e4e;
        }

    }

    button {
        margin-top: 20px;
    } 
}

#main-textarea {
    margin-bottom: 50px;
    border-left: none;
    padding: 0;
}

.rt-silver-wrapper {
    background-color: #1C1C1C;
    margin-top: 77px;
    
    padding: 50px 0;
}

.rt-dropdowns {
    display: flex;
    position: sticky;
    z-index: 100;
    top: 40px;
    margin-left: 50px;

}

.rt-hamburger {
    display: none;
    position: relative;

    &__btn {
        width: 61px;
        height: 61px;
        background-color: $input-color-bg;
        border-radius: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 15px;

        span {
            display: inline-block;
            height: 3px;
            width: 100%;
            border-radius: 5px;
            background-color: $color-silver;
            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }

        &:hover {
            background-color: #363636;
        }

        &:active {
                background-color: #313131;
        }
    }

    &__content {
        position: absolute;
        z-index: 1000;

        // right: calc(100% - 61px) ;
        right: 0 ;
        

        margin-top: 24px;
        background-color: #313131;
        border-radius: $radius-default;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.8);
        width: 10000px;
        max-width: 500px;
        padding: 20px 20px 50px 20px;
        .rt-input-search {
            width: 100%;
            input {
                border-color: #444444;
                &:focus {
                    color: $color-white;
                    border-color: #4e4e4e;
        
                    & + svg{
                        fill: #5c5c5c;
                    }
                }

            }
        }

        .rt-nav {
            margin-top: 50px;
            justify-content: center;
            &__list {
                flex-direction: column;

            }

            &__item {
                text-align: center;

                &:not(:last-child) {
                    margin: 0;
                }
                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }
    } 
}

.rt-about-us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        margin-top: 20px;
        max-width: 800px;
    }
}

.rt-warning {
    border-radius: $radius-default;
    color: #A6A6A6;
    background-color: #282828;
    transition: background-color .2s;
    font-size: 1.5rem;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 6;
    align-self:flex-start;
}
