// Fonts
$inter: 'Inter', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$poiret-one: 'Poiret One', cursive;

// Font Weight
$regular: 400;
$semi-bold: 600;
$extra-bold: 800;
$black: 900;

// Font Size
$font-size-default: 10px;
$font-size-text: 1.7rem;
$font-size-h1: 5.8rem;
$font-size-h2: 4.5rem;

// Colors
$color-black: #151515;
$color-white: #DDDDDD;
$color-silver: #7B7B7B;
$color-orange: #EF4800;
$color-red: #EC3D3D;
$color-green: #66D223;
$color-brown: #EB7F00;
$color-dropdown-bg: #2B2B2B;

// Border Radius
$radius-default: 0.5rem;

// --- INPUT AND BUTTON --->

// Height
$input-height-default: 6.2rem;

// Width
$input-width-small: 130px;
$input-width-normal: 200px;
$input-width-big: 300px;

// Colors
$input-color-bg: #333333;
$input-color-text: #646464;
$input-color-text-active: #818181;

// <--- INPUT AND BUTTON---


// Spacing
$spacing-default: 24px;

// Button Sizes
