// Fonts
$inter: 'Inter', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$poiret-one: 'Poiret One', cursive;

// Font Weight
$regular: 400;
$semi-bold: 600;
$extra-bold: 800;
$black: 900;

// Font Size
$size-default: 10px;
$h1: 5.8rem;
$h2: 4.5rem;

// Colors
$color-black: #151515;
$color-white: #DDDDDD;
$color-silver: #7B7B7B;
$color-orange: #EF4800;
$color-red: #EC3D3D;
$color-green: #66D223;
$color-brown: #EB7F00;

// Border Radius
$radius-default: 8px;

// Padding and Margin
$margin-default: 24px;

// Input Height(<input>, <button>)
$input-height-default: 56px;
